In [1]:
import requests

In [2]:
from bs4 import BeautifulSoup

In [3]:
url="http://books.toscrape.com/"

In [4]:
r=requests.get(url)

In [8]:
r.status_code

200

In [6]:
c=r.content

In [7]:
soup=BeautifulSoup(c, 'html.parser')

In [9]:
books=soup.find_all('li',{"class":"col-xs-6 col-sm-4 col-md-3 col-lg-3"})

In [10]:
names=[]

In [11]:
price=[]

In [13]:
for i in range(len(books)):
    names.append(books[i].find('h3').text)
    price.append(books[i].find('p',{'class':'price_color'}).text)

In [14]:
print(names)

['A Light in the ...', 'Tipping the Velvet', 'Soumission', 'Sharp Objects', 'Sapiens: A Brief History ...', 'The Requiem Red', 'The Dirty Little Secrets ...', 'The Coming Woman: A ...', 'The Boys in the ...', 'The Black Maria', 'Starving Hearts (Triangular Trade ...', "Shakespeare's Sonnets", 'Set Me Free', "Scott Pilgrim's Precious Little ...", 'Rip it Up and ...', 'Our Band Could Be ...', 'Olio', 'Mesaerion: The Best Science ...', 'Libertarianism for Beginners', "It's Only the Himalayas"]

In [15]:
print(price)

['£51.77', '£53.74', '£50.10', '£47.82', '£54.23', '£22.65', '£33.34', '£17.93', '£22.60', '£52.15', '£13.99', '£20.66', '£17.46', '£52.29', '£35.02', '£57.25', '£23.88', '£37.59', '£51.33', '£45.17']

In [16]:
import pandas as pd

In [17]:
dict={'Book Titles':names, 'Price':price}

In [18]:
df=pd.DataFrame(dict)

In [20]:
df.head()

                    Book Titles   Price
0            A Light in the ...  £51.77
1            Tipping the Velvet  £53.74
2                    Soumission  £50.10
3                 Sharp Objects  £47.82
4  Sapiens: A Brief History ...  £54.23

In [21]:
df.to_csv('Books_details.csv')